<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Tensegrity NYC</title>
    <% include ./partials/head %>
  </head>
  <body>
    <% include ./partials/navbar %>

    <img class="chaco-img" src="/images/Chaco2ed2.jpg" alt="Chaco" />

  </body>
</html>
